{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block body %}
    <div class="nfq-academy">{{ someVariable }}</div>
    <div>Tested, E. </div>
	<div>Tested, Valentinas. </div>
{% endblock %}
